In [1]:
import pandas as pd

In [18]:
df = pd.read_csv("C:/Users/prakb/OneDrive/Desktop/Heartthrob/data/NCHS_-_Leading_Causes_of_Death__United_States.csv")

In [21]:
df['Year'] = df['Year'].astype(str)

In [22]:
df

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,"169,936",49.4
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,"2,703",53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,"4,184",56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,"1,625",51.8
...,...,...,...,...,...,...
10863,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Virginia,"1,035",16.9
10864,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,278,5.2
10865,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,West Virginia,345,16.4
10866,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wisconsin,677,11.9
10867,1999,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wyoming,30,6.8

In [25]:
filtered_df = df.loc[(df['Year'] >= '2012')
                     & (df['Year'] <= '2017')]

In [26]:
filtered_df

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,United States,"169,936",49.4
1,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,"2,703",53.8
2,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,436,63.7
3,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,"4,184",56.2
4,2017,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,"1,625",51.8
...,...,...,...,...,...,...
3431,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Virginia,"1,523",18.3
3432,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Washington,482,6.6
3433,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,West Virginia,471,19.7
3434,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wisconsin,"1,024",14.8
3435,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Wyoming,72,12.3

In [35]:
filtered_df1 =filtered_df.loc[df['113 Cause Name'].str.contains("All Causes", case=False)]
filtered_df1

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
52,2017,All Causes,All causes,United States,"2,813,503",731.9
53,2017,All Causes,All causes,Alabama,"53,238",917.7
54,2017,All Causes,All causes,Alaska,"4,411",708.8
55,2017,All Causes,All causes,Arizona,"57,758",678.5
56,2017,All Causes,All causes,Arkansas,"32,588",900.1
...,...,...,...,...,...,...
2963,2012,All Causes,All causes,Virginia,"61,564",730.2
2964,2012,All Causes,All causes,Washington,"50,105",681.5
2965,2012,All Causes,All causes,West Virginia,"21,915",939.3
2966,2012,All Causes,All causes,Wisconsin,"48,384",707.8
2967,2012,All Causes,All causes,Wyoming,"4,481",748.3

In [36]:
filtered_df1.to_csv("filtered.csv",
                  encoding="utf-8",index=False, header=True)

Empty DataFrame
Columns: [Year, 113 Cause Name, Cause Name, State, Deaths, Age-adjusted Death Rate]
Index: []